# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Files built by Visual Studio
*.tlog
*.log
*.ilk
*.db
*.opendb
*.pdb
*.idb
*.ipch
src/LabyrinthPathFinder/x64/Release/LabyrinthPathFinder.vcxproj.FileListAbsolute.txt
*.iobj
*.ipdb
